#container{
    display: flex;
    margin-top: 150px;
}
.sidebar{
    width:21%;
    position:sticky;
    height: 23%;
    top:20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product{
    width:85%;
    position:relative;
    top:32px
}