.Product_container{
    padding:0 20px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-right: 5px;
}


hr{
   
    width: 110%; 
}

input{
    position: relative;
    top: 2.2px;
    width: 5vh;
    height: 2.8vh;
    
}