.gallary {
    width: calc(50% - 64px);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 300px;
}

.main-image img {
    height: 100%;
}

.image-options {
    width: 80%;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.image-options .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
}

.image-options .image img {
    width: 100%;
}