.AdminPage {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.AdminPage .admin-nav {
  height: 50px;
  border: 2px solid green;
  margin: 5px;
}

.AdminPage .admin-container {
  width: 100%;
  background: #fbf9f6;
  height: 90vh;
  display: flex;
}

.AdminPage .admin-container .active {
  display: flex;
  width: 100%;
}

.AdminPage .admin-container .heading {
  margin: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #e57200;
}

.AdminPage .admin-container .admin-addproduct .admin-form {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.AdminPage .admin-container .admin-addproduct .admin-form input {
  color: black;
  width: 90%;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid gray;
  background: rgb(255, 254, 254);
}

.AdminPage .admin-container .admin-addproduct .admin-form select {
  color: black;
  width: 90%;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid gray;
}

.AdminPage .admin-container .admin-addproduct .admin-form button {
  border: none;
  background: #e57200;
  color: white;
  padding: 3px;
  border-radius: 10px;
  width: 90%;
  margin: 5px;
}

.AdminPage .admin-container .admin-addproduct .admin-form button:hover {
  background: #e57200;
  color: white;
}

/* ================ Sidebar ================ */

.AdminPage .admin-container .admin-sidebar {
  width: 20%;
  padding: 0 20px;
  border: 1px solid rgb(255, 158, 3);
  background: #fbf9f6;
  /* margin: 5px; */
}

.AdminPage .admin-container .padd-15 {
  padding-left: 15px;
}

.AdminPage .admin-container .sub-head {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
}

.AdminPage .admin-container .admin-sidebar .filter {
  display: flex;
  margin: 10px;
  /* gap: 3px; */
  flex-direction: column;
  align-items: start;
}

.AdminPage .admin-container .admin-sidebar .filter-category div {
  display: flex;
  align-items: center;
}

.AdminPage .admin-container .admin-sidebar input {
  height: 30px;
  accent-color: #e57200;
  color: white;
}
.AdminPage .admin-container .admin-sidebar label:hover {
  color: #e57200;
}

.AdminPage .admin-container .admin-sidebar label {
  margin-left: 10px;
}
.AdminPage .admin-container .admin-sidebar label span {
  color: #e57200;
}

.AdminPage .admin-container .admin-sidebar .sorting select {
  border: 1px solid black;
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid gray;
}
.AdminPage .admin-container .admin-sidebar .filter-color div {
  display: flex;
  align-items: center;
}
.AdminPage .admin-container .admin-sidebar .filter-color .color {
  border: 1px solid gray;
  margin-left: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.AdminPage .admin-container .admin-sidebar .filter-color .black {
  background: black;
}
.AdminPage .admin-container .admin-sidebar .filter-color .red {
  background: red;
}
.AdminPage .admin-container .admin-sidebar .filter-color .green {
  background: green;
}
.AdminPage .admin-container .admin-sidebar .filter-color .brown {
  background: brown;
}
.AdminPage .admin-container .admin-sidebar .filter-color .blue {
  background: blue;
}
.AdminPage .admin-container .admin-sidebar .filter-color .orange {
  background: orangered;
}
.AdminPage .admin-container .admin-sidebar .filter-color .gray {
  background: gray;
}
.AdminPage .admin-container .admin-sidebar .filter-color .pink {
  background: rgb(233, 23, 93);
}

/* ================    Admin Users      ======================*/

/* .AdminPage .admin-container .admin-users-list {
  display: flex;
  padding-left: 20%;
  width: 100%;
} */

.AdminPage .admin-container .admin-users {
  width: 80%;
  border: 1px solid rgb(255, 158, 3);
  /* margin: 5px; */
}
.AdminPage .admin-container .admin-adduser {
  width: 30%;
  border: 1px solid rgb(255, 158, 3);
  /* margin: 5px; */
}
.AdminPage .admin-container .admin-adduser .admin-user-form {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AdminPage .admin-container .admin-adduser .admin-user-form input {
  color: black;
  width: 90%;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid gray;
}

.AdminPage .admin-container .admin-adduser .admin-user-form button {
  border: 1px solid rgb(219, 85, 36);
  background: #e57200;
  color: white;
  padding: 3px;
  border-radius: 10px;
  width: 90%;
  margin: 5px;
}

/* ================    Admin Products      ======================*/

/* .AdminPage .admin-container .admin-product-list {
  display: flex;
  padding-left: 266px;
  width: 100%;
  border: 2px solid red;
} */

.AdminPage .admin-container .admin-products {
  width: 80%;
  overflow: auto;
  scrollbar-color: red yellow;
  border: 1px solid rgb(255, 158, 3);
  /* margin: 5px; */
}
.AdminPage .admin-container .admin-addproduct {
  width: 30%;
  border: 1px solid rgb(255, 158, 3);
  /* margin: 5px; */
}

/* ==============   Product Card ================*/

.AdminPage .admin-container .product-card {
  width: 98%;
  margin: 10px;
  border: 1px solid gray;
  gap: 10px;
  padding: 5px;
  /* margin: 5px; */
  display: flex;
}

.AdminPage .admin-container .product-card .product-card-img-div {
  width: 20%;
}
.AdminPage .admin-container .product-card .product-card-img-div img {
  width: 100%;
  height: 150px;
}

.AdminPage .admin-container .product-card .product-card-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 2px solid red;
}

.AdminPage .admin-container .product-card .edit-delete-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  border: 2px solid red;
}
.AdminPage .admin-container .product-card .edit-delete-btn button:nth-child(1) {
  width: 110px;
}

.AdminPage .admin-container .product-card .edit-delete-btn .sub-head {
  border: 2px solid #ff8000;
  padding: 5px;
  border-radius: 10px;
}
